{% extends "base.html" %}
{% load static %}

{% block content %}
        <div class="row no-gutters">
            <div class="col my-auto">
                <div class="hero-image">
                    <div class="overlay-hero">
                        <!-- Website description on hero image -->
                        <div class="hero-content">
                            <h1>12 Acres Brewing Company</h1>
                            <p>Home of some of Ireland's most delicious beers</p>
                            <p class="text-white">
                                <a href="" class="btn text-white border-white">Shop</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}