@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* General */

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,h2,h3,h4 {
    font-weight: 600;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.light-orange-background {
    background-color: rgb(255 182 45 / 52%);
}

.dark-orange-background {
    background-color: #f9931e;
}

.text-orange {
    color: #f9931e;
}

.border-orange {
    border: 1px solid #f9931e;
}

.text-black {
    color: black !important; 
}

.icon {
    color: #2b2929;
    font-size: 20px;
}

.beer-detail-icon {
    font-size: 30px;
}

.btn:hover {
    transform: scale(1.02);
}

.btn:focus {
    background-color: #f9931e;
    color: #fff;
}

.btn:active {
    transform: scale(1.02);
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.cursor {
    cursor: pointer;
}

.message-container {
    position: fixed;
    right: 10px;
    z-index: 99;
    top: 100px;
}

.custom-toast {
    overflow: visible;
}

.toast-border-bottom {
    height: 2px;
}


/* Nav */

#main-nav p {
    margin-bottom: 0;
}

.nav-icon {
    font-size: 19px;
}

/* Index */

.hero-image {
    height: 80vh;
    width: 100%;
    color: white;
    background-image: url('/media/hero-beer.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay-hero {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-content {
    position: absolute;
    left: 15%;
    top: 20%;
    width: 35%;
}

.about-us-image {
    width: 100%;
}

.about-us {
    width: 90%;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-image {
    border-radius: 50%;
    width: 100%;
    padding-bottom: 10px;
}

/* Beer */

.beer-card {
    height: 300px;
    object-fit: cover;
}

.card-shadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Beer detail pages */

.detail-image {
    width: 80%;
}

.form-control {
    height: auto !important;
}

.beer-stars {
    color: gold;
}

/* Find our beers page */

.maps {
    height: 500px;
    width: 100%;
}

.map-button:focus {
    background-color: #f9931e;
    color: #fff;
}

/* Blog details pages */

#orders {
    display: none;
}

/* Find our beers page */

.blog-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Blog details pages */

.blog-detail-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

/* Allauth */

.allauth-form-inner-content p {
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 4px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #f9931e;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	transform: scale(1.02);
}

.allauth-form-inner-content a {
	color: #f9931e; 
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* 404 and 500 pages */

.error-image {
    width: 100%;
    margin-top: 30px;
}


/* Footer */

footer {
    height: auto;
    margin-bottom: 0;
    margin-top: auto;
}

.footer {
    margin-bottom: 0;
}

footer hr {
    border: 1px solid white;
    width: 100%;
}

.footer-items {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-items i {
    font-size: 25px;
}

.footer-items button {
    border: none;
    background-color: #fff;
    border-radius: 20px;
    padding-left: 20px;
    cursor: pointer;
}

footer .row {
    margin-left: 15px;
    margin-right: 15px;
}

.icon-footer {
    color: #fff;
    font-size: 20px;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer li {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    margin: 10px;
    text-align: center;
}

footer p {
    margin-top: 10px;
    margin-bottom: 7px;
    color: #fff;
}

footer ul.list-inline {
    margin: 0;
    display: flex;
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .btn {
        padding: .375rem .375rem;
    }

    .navbar-light.navbar-toggler {
        border-color: white;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}