{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="page-header text-center">Beers</h2>
            </div>
            {% for beer in beers %}
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card h-100 border-0">
                        {% if beer.image %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ beer.image.url }}" alt="{{ beer.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}12-acres-logo.jpg" alt="{{ beer.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0 border-0">
                                    <p class="mb-0">{{ beer.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 text-left border-0">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold border-0">${{ beer.price }}</p>
                                            {% if beer.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ beer.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}