{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-2">
                {% if beer.image %}
                    <a href="{{ beer.image.url }}" target="_blank" class="flex-center">
                        <img class="card-img-top detail-image" src="{{ beer.image.url }}" alt="{{ beer.name }}">
                    </a>
                {% else %}
                    <a href="">
                        <img class="card-img-top detail-image" src="{{ MEDIA_URL }}12-acres-logo.jpg"
                            alt="{{ beer.name }}">
                    </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <div class="mb-5 mt-md-5">
                    <p class="mb-0">{{ beer.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">€{{ beer.price }}</p>
                    {% if beer.reviews.all %}
                        <div class="beer-stars" data-value="{{ beer.average_rating }}"></div>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ beer.description }}</p>
                    {% if request.user.is_superuser %}
                        <div>
                            <a class="beer-detail-icon" href="{% url 'edit_beer' beer.id %}"><i class="fas fa-edit"></i></a>
                            <a class="beer-detail-icon text-danger" href="{% url 'delete_beer' beer.id %}"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    {% endif %}
                    <form class="form" action="{% url 'add_to_bag' beer.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn border-dark" 
                                                data-item_id="{{ beer.id }}" id="decrement-qty_{{ beer.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control border-dark qty_input" type="number" 
                                        name="quantity" value="1" min="1" max="99" 
                                        data-item_id="{{ beer.id }}" id="id_qty_{{ beer.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn border-dark"
                                                data-item_id="{{ beer.id }}" id="increment-qty_{{ beer.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'beers' %}" class="btn mt-3 border-dark">
                                    <span>Buy More Beer</span>
                                </a>
                                <input type="submit" class="btn border-orange mt-3" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row light-orange-background">
            <div class="col-sm-12 col-md-8 offset-md-2 mb-4">
                {% if edit %}
                    <h3 class="text-center mt-3" id="edit-review">Edit Your Review</h3>
                    <form method="POST" action="{% url 'edit_review' review.id %}">
                        {% csrf_token %}
                        {{ form | crispy }}
                            <div class="text-center">
                                <a href="{% url 'beer_detail' beer.id %}"
                                    class="btn border-dark">Cancel</a>
                                <button class="btn border-orange" type="submit">Update</button>
                            </div>
                    </form>
                {% else %}
                    <h3 class="text-center">Leave a Review</h3>
                    <form method="POST" action="{% url 'add_review' beer.id %}" class="form">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class=" text-center">
                            <button class="btn border-orange" type="submit">Submit Review</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="container mt-4">
            {% for review in beer.reviews.all %}
                <div class="col-sm-12 col-md-8 offset-md-2">
                    <div class="card mb-3 w-100">
                        <div class="card-header"><strong>{{ review.title }}</strong></div>
                        <div class="card-body text-secondary">
                        <h5 class="card-title"><div class="beer-stars" data-value="{{ review.rating }}"></div></h5>
                        {% if review.verified_purchase %}
                            <p><strong>Verified Purchase</strong></p>
                        {% endif %}
                        <p class="card-text">{{ review.body }}</p>
                        <p class="text-muted mb-0">Reviewed by <strong>{{ review.user }}</strong> on <strong>{{ review.date_added }}</strong></p>
                        </div>
                        <div class="card-footer">
                            {% if request.user == review.user %}
                                <a class="beer-detail-icon" href="{% url 'edit_review' review.id %}#edit-review"><i class="fas fa-edit"></i></a>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <a class="beer-detail-icon text-danger" href="{% url 'delete_review' review.id %}"><i class="fas fa-trash-alt"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'beers/includes/quantity_input_script.html' %}

<script>
    const beerStars = document.querySelectorAll('.beer-stars');

beerStars.forEach(rating => {
    const ratingValue = parseInt(rating.dataset.value);
    const fullStar = ratingValue;
    let stars = '';

    for (let i = 1; i < 6; i++) {
        if (i <= fullStar) {
            stars += `<i class="fas fa-star"></i>`;
        } else {
            stars += `<i class="far fa-star"></i>`;
        }
    }

    rating.innerHTML = stars;
});
</script>

{% endblock %}