{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-2">
                {% if beer.image %}
                    <a href="{{ beer.image.url }}" target="_blank" class="flex-center">
                        <img class="card-img-top detail-image" src="{{ beer.image.url }}" alt="{{ beer.name }}">
                    </a>
                {% else %}
                    <a href="">
                        <img class="card-img-top detail-image" src="{{ MEDIA_URL }}12-acres-logo.jpg"
                            alt="{{ beer.name }}">
                    </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <div class="mb-5 mt-md-5">
                    <p class="mb-0">{{ beer.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ beer.price }}</p>
                    {% if beer.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ beer.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ beer.description }}</p>
                    {% if request.user.is_superuser %}
                        <div>
                            <a class="beer-detail-icon" href="{% url 'edit_beer' beer.id %}"><i class="fas fa-edit"></i></a>
                            <a class="beer-detail-icon text-danger" href="{% url 'delete_beer' beer.id %}"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    {% endif %}
                    <form class="form" action="{% url 'add_to_bag' beer.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn border-dark" 
                                                data-item_id="{{ beer.id }}" id="decrement-qty_{{ beer.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control border-dark qty_input" type="number" 
                                        name="quantity" value="1" min="1" max="99" 
                                        data-item_id="{{ beer.id }}" id="id_qty_{{ beer.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn border-dark"
                                                data-item_id="{{ beer.id }}" id="increment-qty_{{ beer.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'beers' %}" class="btn mt-3 border-dark">
                                    <span>Buy More Beer</span>
                                </a>
                                <input type="submit" class="btn border-orange mt-3" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'beers/includes/quantity_input_script.html' %}
{% endblock %}