{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="page-header text-center">Beers</h2>
            <div class="flex-center mb-4 mt-2">
                <a href="{% url 'beers' %}?category=ale,lager,stout" class="btn border-orange">
                    <span>All Beers</span>
                </a>
                <a href="{% url 'beers' %}?category=ale" class="btn ml-1 border-orange">
                    <span>Ale</span>
                </a>
                <a href="{% url 'beers' %}?category=lager" class="btn ml-1 border-orange">
                    <span>Lager</span>
                </a>
                <a href="{% url 'beers' %}?category=stout" class="btn ml-1 border-orange">
                    <span>Stout</span>
                </a>
            </div>
        </div>
        {% for beer in beers %}
        <div class="col-12 col-md-4 col-lg-3">
            <div class="card h-100">
                {% if beer.image %}
                    <a href="{% url 'beer_detail' beer.id %}">
                        <img class="card-img-top beer-card img-fluid" src="{{ beer.image.url }}" alt="{{ beer.name }}">
                    </a>
                {% else %}
                    <a href="{% url 'beer_detail' beer.id %}">
                        <img class="card-img-top beer-card img-fluid" src="{{ MEDIA_URL }}12-acres-logo.jpg"
                            alt="{{ beer.name }}">
                    </a>
                {% endif %}
                <div class="card-body pb-0">
                    <p class="mb-0">{{ beer.name }}</p>
                </div>
                <div class="card-footer bg-white pt-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold">${{ beer.price }}</p>
                            {% if beer.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ beer.rating }} / 5</small>
                            {% else %}
                            <small class="text-muted">No Rating</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}