{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="page-header text-center">Beers</h2>
            <div class="flex-center mb-4 mt-2">
                <a href="{% url 'beers' %}?category=ale,lager,stout" class="btn border-orange">
                    <span>All Beers</span>
                </a>
                <a href="{% url 'beers' %}?category=ale" class="btn ml-1 border-orange">
                    <span>Ale</span>
                </a>
                <a href="{% url 'beers' %}?category=lager" class="btn ml-1 border-orange">
                    <span>Lager</span>
                </a>
                <a href="{% url 'beers' %}?category=stout" class="btn ml-1 border-orange">
                    <span>Stout</span>
                </a>
            </div>
        </div>
        {% if search_term %}
        <div class="col-12 mb-3">
            <strong>{{ beers|length }}</strong> Beer{{beers|length|pluralize }}{% if search_term %} found with
            <strong>"{{ search_term }}"</strong>{% endif %}
        </div>
        {% endif %}
        {% for beer in beers %}
        <div class="col-12 col-md-4 col-lg-3 mb-3">
            <div class="card card-shadow h-100 border-0">
                {% if beer.image %}
                    <a href="{% url 'beer_detail' beer.id %}">
                        <img class="card-img-top beer-card img-fluid" src="{{ beer.image.url }}" alt="{{ beer.name }}">
                    </a>
                {% else %}
                    <a href="{% url 'beer_detail' beer.id %}">
                        <img class="card-img-top beer-card img-fluid" src="{{ MEDIA_URL }}12-acres-logo.jpg"
                            alt="{{ beer.name }}">
                    </a>
                {% endif %}
                <div class="card-body pb-0">
                    <p class="mb-0">{{ beer.name }}</p>
                </div>
                <div class="card-footer bg-white pt-0 text-left border-0">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold">€{{ beer.price }}</p>
                            {% if beer.average_rating %}
                            <div class="beer-stars" data-value="{{ beer.average_rating }}"></div>
                            {% else %}
                            <small class="text-muted">No Rating</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}