{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-2">
                {% if merch.image %}
                    <a href="{{ merch.image.url }}" target="_blank" class="flex-center">
                        <img class="card-img-top detail-image" src="{{ merch.image.url }}" alt="{{ merch.name }}">
                    </a>
                {% else %}
                    <a href="">
                        <img class="card-img-top detail-image" src="{{ MEDIA_URL }}12-acres-logo.jpg"
                            alt="{{ merch.name }}">
                    </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <div class="mb-5 mt-md-5">
                    <p class="mb-0">{{ merch.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ merch.price }}</p>
                    {% if merch.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ merch.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ merch.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}