{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Craft Beers"/>
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block coreecss %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

<title>12 Acres {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="#">
                    <div class="input-group w-100 rounded">
                        <input class="form-control border border-black" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-right" type="submit">
                                <span class="icon text-black">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4">
                <a href="{% url 'home' %}" class="nav-link flex-center">
                    <img src="{{ MEDIA_URL }}12-acres-logo.jpg" width="50" height="50" alt="12 Acres Logo">
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="#" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="#" class="dropdown-item">My Profile</a>
                                <a href="#" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="#" class="dropdown-item">Register</a>
                                <a href="#}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="#">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Mobile Top Header -->
                <ul>
                    <li class="list-inline-item">
                      <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="text-center">
                              <div><i class="fas fa-search fa-lg"></i></div>
                              <p class="my-0">Search</p>
                          </div>
                      </a>
                      <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                          <form class="form" method="GET" action="">
                              <div class="input-group w-100">
                                  <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                                  <div class="input-group-append">
                                      <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                                          <span class="icon">
                                              <i class="fas fa-search text-black"></i>
                                          </span>
                                      </button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </li>
                  <li class="list-inline-item dropdown">
                      <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="text-center">
                              <div><i class="fas fa-user fa-lg"></i></div>
                              <p class="my-0">My Account</p>
                          </div>
                      </a>
                      <div class="dropdown-menu border-0" aria-labelledby="user-options">
                          {% if request.user.is_authenticated %}
                              {% if request.user.is_superuser %}
                                  <a href="{% url 'account_logout' %}" class="dropdown-item">Product Management</a>
                              {% endif %}
                              <a href="" class="dropdown-item">My Profile</a>
                              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                          {% else %}
                              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                          {% endif %}
                      </div>
                  </li>
                  <li class="list-inline-item">
                      <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="">
                          <div class="text-center">
                              <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                              <p class="my-0">
                                  {% if grand_total %}
                                      ${{ grand_total|floatformat:2 }}
                                  {% else %}
                                      $0.00
                                  {% endif %}
                              </p>
                          </div>
                      </a>
                    </li>
                  </ul>
                <!-- Main Nav -->
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="navbar-nav w-auto mx-auto">
                        <li>
                            <a class="font-weight-bold nav-link text-black flex-col-center nav-icon" href="#" id="home-link">
                                <i class="fas fa-home d-none d-lg-block"></i>
                                <p>Home</p>
                            </a>
                        </li>
                
                        <li>
                            <a class="font-weight-bold nav-link text-black flex-col-center nav-icon" href="#" id="our-beer-link">
                                <i class="fas fa-beer d-none d-lg-block"></i>
                                <p>Our Beer</p>
                            </a>
                        </li>
                
                        <li>
                            <a class="font-weight-bold nav-link text-black flex-col-center nav-icon" href="#" id="merchandise-link">
                                <i class="fas fa-tshirt d-none d-lg-block"></i>
                                <p>Merchandise</p>
                            </a>
                        </li>
                
                        <li>
                            <a class="font-weight-bold nav-link text-black flex-col-center nav-icon" href="#" id="find-our-beers-link">
                                <i class="fas fa-search-location d-none d-lg-block"></i>
                                <p>Find Our Beers</p>
                            </a>
                        </li>
                        <li>
                            <a class="font-weight-bold nav-link text-black flex-col-center nav-icon" href="#" id="blog-link">
                                <i class="fas fa-newspaper d-none d-lg-block"></i>
                                <p>Blog</p>
                            </a>
                        </li>
                        <li>
                            <a class="font-weight-bold nav-link text-black flex-col-center nav-icon" href="#" id="contact-us-link">
                                <i class="fas fa-address-book d-none d-lg-block"></i>
                                <p>Contact Us</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="container-fluid dark-orange-background">
        <div class="row footer">
            <div class="col-12 col-md-4">
                <ul class="list-unstyled mb-0 flex-col-center">
                    <li class="m-1 w-50">
                      <a href="#!" class="text-white">Home</a>
                    </li>
                    <li class="m-1 w-50">
                      <a href="#!" class="text-white">Beer</a>
                    </li>
                    <li class="m-1 w-50">
                      <a href="#!" class="text-white">Merchandise</a>
                    </li>
                    <li class="m-1 w-50">
                      <a href="#!" class="text-white">Find Our Beers</a>
                    </li>
                    <li class="m-1 w-50">
                        <a href="#!" class="text-white">Blog</a>
                      </li>
                    <li class="m-1 w-50">
                        <a href="#!" class="text-white">Contact Us</a>
                      </li>
                  </ul>
            </div>
            <!-- Social media links -->
            <div class="col-12 col-md-4 flex-col-center">
                <p class="footer-items">© Copyright - 12 Acres Brewing</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook aria-hidden icon"></i> <span class="sr-only">Facebook</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram aria-hidden icon"></i> <span class="sr-only">Instagram</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter aria-hidden icon"></i> <span class="sr-only">Twitter</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.reddit.com" target="_blank"><i class="fab fa-reddit aria-hidden icon"></i> <span class="sr-only">Reddit</span></a>
                    </li>
                </ul>
            </div>
            <!-- Newsletter sign up -->
            <div class="col-12 col-md-4 footer-items flex-col-center">
                <p>Sign up for our weekly newsletter</p>
                <form id="contactForm" onsubmit="return sendMail(this);">
                    <input type="email" name="email" id="emailaddress" placeholder="Email Address" class="form-control border-0" required />
                    <button type="submit" id="send-button" aria-label="send button"><i class="far fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}

</body>

</html>