{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Craft Beers"/>
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block coreecss %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

<title>12 Acres {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'beers' %}">
                    <div class="input-group w-100 rounded">
                        <input class="form-control border border-black" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn border border-black rounded-right" type="submit">
                                <span class="icon text-black">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4">
                <a href="{% url 'home' %}" class="nav-link flex-center">
                    <img src="{{ MEDIA_URL }}12-acres-logo.jpg" width="50" height="50" alt="12 Acres Logo">
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="{% url 'add_beer' %}" class="dropdown-item">Add Beer</a>
                                <a href="{% url 'add_blog' %}" class="dropdown-item">Add Blog</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-orange font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100 dark-orange-background">
                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Mobile Top Header -->
                <ul class="mb-0 pl-0">
                    <li class="list-inline-item">
                      <a class="text-white nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="text-center">
                              <div><i class="fas fa-search fa-lg"></i></div>
                              <p class="my-0">Search</p>
                          </div>
                      </a>
                      <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                          <form class="form" method="GET" action="{% url 'beers' %}">
                              <div class="input-group w-100">
                                  <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                                  <div class="input-group-append">
                                      <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                                          <span class="icon">
                                              <i class="fas fa-search text-black"></i>
                                          </span>
                                      </button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </li>
                  <li class="list-inline-item dropdown">
                      <a class="text-white nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="text-center">
                              <div><i class="fas fa-user fa-lg"></i></div>
                              <p class="my-0">My Account</p>
                          </div>
                      </a>
                      <div class="dropdown-menu border-0" aria-labelledby="user-options">
                          {% if request.user.is_authenticated %}
                              {% if request.user.is_superuser %}
                                  <a href="{% url 'add_beer' %}" class="dropdown-item">Add Beer</a>
                                  <a href="{% url 'add_blog' %}" class="dropdown-item">Add Blog</a>
                              {% endif %}
                              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                          {% else %}
                              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                          {% endif %}
                      </div>
                  </li>
                  <li class="list-inline-item">
                      <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-white{% endif %} nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
                          <div class="text-center">
                              <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                              <p class="my-0">
                                  {% if grand_total %}
                                      €{{ grand_total|floatformat:2 }}
                                  {% else %}
                                      €0.00
                                  {% endif %}
                              </p>
                          </div>
                      </a>
                    </li>
                  </ul>
                <!-- Main Nav -->
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="navbar-nav my-100 mx-auto">
                        <li class="px-4">
                            <a class="font-weight-bold nav-link text-white flex-col-center nav-icon" href="{% url 'home' %}" id="home-link">
                                <i class="fas fa-home d-none d-lg-block"></i>
                                <p>Home</p>
                            </a>
                        </li>
                
                        <li class="px-4">
                            <a class="font-weight-bold nav-link text-white flex-col-center nav-icon" href="{% url 'beers' %}" id="our-beer-link">
                                <i class="fas fa-beer d-none d-lg-block"></i>
                                <p>Our Beer</p>
                            </a>
                        </li>
                
                        <li class="px-4">
                            <a class="font-weight-bold nav-link text-white flex-col-center nav-icon" href="{% url 'findbeers' %}" id="find-our-beers-link">
                                <i class="fas fa-search-location d-none d-lg-block"></i>
                                <p>Find Our Beers</p>
                            </a>
                        </li>
                        <li class="px-4">
                            <a class="font-weight-bold nav-link text-white flex-col-center nav-icon" href="{% url 'blog' %}" id="blog-link">
                                <i class="fas fa-newspaper d-none d-lg-block"></i>
                                <p>Blog</p>
                            </a>
                        </li>
                        <li class="px-4">
                            <a class="font-weight-bold nav-link text-white flex-col-center nav-icon" href="{% url 'contact' %}" id="contact-us-link">
                                <i class="fas fa-address-book d-none d-lg-block"></i>
                                <p>Contact Us</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- Show messages in form of toasts -->
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="container-fluid dark-orange-background">
        <div class="row footer">
            <!-- Newsletter sign up -->
            <div class="col-sm-12 col-md-6 footer-items flex-col-center">
                <div class="text-left">
                   <p class="pt-2 m-0">Sign up for our weekly newsletter</p>
                   <p class="pb-2 m-0">Please enter your email address below and click "Submit"</p>
               </div>
               <form id="newsletterForm" class="w-sm-100 w-md-75 text-center" action="{% url 'home' %}" method="POST">
                   {% csrf_token %}
                   {{ newsletter_form|crispy }}
                   <input type="submit" class="btn bg-white text-black" value="Submit">
               </form>
           </div>
           <hr class="d-md-none">
           <!-- 12 Acres Info -->
            <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center">
                <div>
                    <p><strong>12 Acres Brewing Company</strong></p>
                    <p><i class="fas fa-map-marker-alt"></i> Clonmore, Killeshin, Co. Laois, R93 X3X8, Ireland</p>
                    <p><i class="fas fa-phone"></i> 1234567890</p>
                    <p><i class="fas fa-envelope-open-text"></i> 12acres@example.com</p>
                </div>
            </div>
            <hr>
            <!-- Social media links -->
            <div class="col-sm-12 flex-col-center">
                <p class="footer-items">© Copyright - 12 Acres Brewing</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook aria-hidden icon-footer"></i> <span class="sr-only">Facebook</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram aria-hidden icon-footer"></i> <span class="sr-only">Instagram</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter aria-hidden icon-footer"></i> <span class="sr-only">Twitter</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.reddit.com" target="_blank"><i class="fab fa-reddit aria-hidden icon-footer"></i> <span class="sr-only">Reddit</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
    {% endblock %}

</body>

</html>