{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2>Find Our Beers</h2>
            <p>Why not discover where you can try out our beers, be it in one of the many bars and establishments that stock our beers or in the comfort of your own home.</p>
            <p class="text-white">
                <a href="" class="btn text-black border-orange">Bars and Restaurants</a>
            </p>
            <p class="text-white">
                <a href="" class="btn text-black border-orange">Offlicences</a>
            </p>
        </div>
        <div class="col-12 col-md-6"></div>
    </div>
</div>
{% endblock %}